.todo-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: -5px 5px 5px 2px gray;
  border-radius: 0.2rem;
  padding: 0.6rem 1rem;
}

.todo-form > input {
  border: none;
  border-bottom: 1px solid black;
  width: 80%;
}
